body {
  background: #020617;
  overflow-x: hidden;
}

/* Cursor */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(34,197,94,0.6);
  pointer-events: none;
  transform: translate(-50%, -50%);
}

/* Card hover */
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px) scale(1.03);
  border-color: #22c55e;
}
